/* Common to all */

*{
    padding: 0;
    margin: 0;
}

.inter{
    font-family: 'Inter', sans-serif;
}

.merryweather{
    font-family: 'Merriweather', serif;
}

/* Banner Section */

.banner{
    width: 1320px;
    height: 600px;
    display: flex;
    margin: 40px auto;
}

.bannerBg{
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    position: absolute;
    z-index: 1;
    border-radius: 16px;
}

/* Text Inside Banner */

.bannerText{
    width: 632px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 35%;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerText>p{
    color: white;
    font-size: 32px;
    font-weight: 700;
    padding: 20px 0;
}

.bannerText>h1{
    font-size: 73px;
    font-weight: 900;
    color: white;
}

/* Offer Section */

.offer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer>h1{
    color: #FF0000;
    padding: 40px 0;
    font-size: 88px;
    font-weight: 700;
}

.offer>p{
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0;
}

.offer>h3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding: 0 0 50px 0;
}

.offer>img{
    width: 803px;
}