/* Common to all */

*{
    padding: 0;
    margin: 0;
}

.inter{
    font-family: 'Inter', sans-serif;
}

.merryweather{
    font-family: 'Merriweather', serif;
}

.orangeText{
    color: #FF0000;
}

/* Banner Section */

.banner{
    width: 1320px;
    height: 600px;
    display: flex;
    margin: 40px auto;
    position: relative;
}

.bannerBg{
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    position: absolute;
    z-index: 1;
    border-radius: 16px;
}

/* Text Inside Banner */

.bannerText{
    width: 632px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerText>p{
    color: white;
    font-size: 32px;
    font-weight: 400;
    padding: 20px 0;
}

.bannerText>h1{
    font-size: 73px;
    font-weight: 900;
    color: white;

    text-shadow: 10px 10px 10px rgb(54, 54, 54);
}

/* Offer Section */

.offer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer>h1{
    color: #FF0000;
    padding: 40px 0;
    font-size: 88px;
    font-weight: 700;
}

.offer>p{
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0;
}

.offer>h3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding: 0 0 50px 0;
    
}

.offer>img{
    width: 803px;
    padding-bottom: 100px;
}

/* Invitation Section */

.invitation{
    width: 1320px;
    height: 600px;
    position: relative;
    display: flex;
    margin: auto;
}

.invitationBg{
    width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    position: absolute;
    z-index: 1;
    border-radius: 16px;
}

/* Text Inside Invitation Img */

.invitationText{
    width: 700px;
    height: 400px;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 10%;
}

.invitationText>h1{
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 8px;
    color: white;
    line-height: 88px;
}

.invitationText>p{
    color: rgba(255, 255, 255, 0.80);
    padding: 24px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.invitationText>button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

/* Invitation Image overlay  */

.invitationVector{
    position: absolute;
    z-index: 3;
    right: 10%;
    top: 10%;
    mix-blend-mode: ;
}

/* Party Details */

.partyDetails{
    width: 1320px;
    height: 500px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    flex-direction: column;
    margin: 120px auto;
    justify-content: center;
    border-radius: 16px;
    align-items: center;
}

.partyDetails>p{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

.partyDetails > button{
    width: 170px;
    height: 60px;
    background-color: #FF0000;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 40px;
    border: none;
    border-radius: 8px;
}

/* More Offers Section */

.moreOffers{
    width: 1320px;
    height: 500px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.moreOffers>.upcomingOffer{
    width: 390px;
}

.upcomingOffer>.offerTitle{
    font-size: 24px;
    font-weight: 500;
}

.upcomingOffer>h3{
    font-size: 48px;
    font-weight: 900;
    padding: 20px 0;
}

.upcomingOffer>.offerDesc{
    color: rgba(7, 2, 17, 0.60); 
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.moreOffers>.offerImg{
    width: 460px;
    height: 460px;
    background-color: white;
    border: 15px solid #FF0000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offerImg>img{
    width: 365px;
}

.moreOffers>.offerWish{
    width: 280px;
    color: rgba(7, 2, 17, 0.60); 
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offerWish>h3{
    font-size: 48px;
    font-weight: 700;
}

.offerWish>p{
    padding: 40px 0;
}

.offerWish>img{
    width: 140px;
}

/* Running offers section */

.runningOffer{
    text-align: center;
    width: 1060px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

.runningOffer>.title{
    font-size: 24px;
    font-weight: 500;
}

.runningOffer>h1{
    font-size: 72px;
    font-weight: 900;
    padding: 30px 0;
}

.runningOffer>.desc{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

/* Offer Image Section */

.offerImage{
    width: 1320px;
    height: 655px;
    display: flex;
    margin: auto;
    position: relative;
}

.offerImage .base{
    width: 1320px;
    height: 230px;
    position: absolute;
    bottom: 0;
}

.offerImage .model{
    width: 430px;
    height: 425px;
    position: absolute;
    right: 0;
}

.offerImage .discount{
    width: 206px;
    height: 206px;
    position: absolute;
    right: 320px;
    top: 20%;
}

.offerImage .surpriseBox{
    position: absolute;
    z-index: 1;
    height: 500px;
    bottom: 50px;
    left: 50px;
}

/* Product Section */

.products{
    width: 1320px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

.products .productTitle{
    font-size: 24px;
    font-weight: 500;
}

.products>h1{
    font-size: 48px;
    font: 2900px;
    padding: 20px 0;
}

.products .productDesc{
    color: rgba(7, 2, 17, 0.60);
    width: 900px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

/* Images in Product Section */

.products .productImages{
    margin: 50px 0;
    width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.productImages .sec{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.productImages .prodImg{
    height: 450px;
    width: 424px;
    margin-left: 0 24px 24px 0;
    transition: transform 0.5ms ease-in-out;
    position: relative;
    
}

/* hover effect */

.productImages .prodImg:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* Newsletter section */

.newsletter{
    width: 1320px;
    height: 600px;
    background-color: rgba(255, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.newsletter>img{
    height: 150px;
    width: 150px;
}

.newsletter>h1{
    font-size: 42px;
    font-weight: 900;
    padding: 24px 0;
}

.newsletter>p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    width: 900px;
    line-height: 32px;
}

form{
    display: flex;
    position: relative;
    margin: 40px 0;
}


form>input{
    position: relative;
    box-sizing: border-box;
    width: 648px;
    height: 72px;
    border: none;
    padding: 25px;
    border-radius   : 50px;
}

form>input::placeholder{
    font-size: 18px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.30);
}

form>button{
    height: 72px;
    width: 210px;
    position: absolute;
    right: 0;
    border: none;
    background-color: #FF0000;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 0 50px 50px 0;
}

/* Footer Section */
footer{
    width: 100vw;
    background-color: black;
    color: white;
    padding: 150px 0;
    box-sizing: border-box;
}

footer .sec1{
    width: 1320px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.sec1 > .address{
    font-size: 24px;
    font-weight: 500;
    width: 400px;
    line-height: 40px;
}

.sec1 > .contact{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.contact > span{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.icon > img {
    padding-right: 20px;
}

#website{
    text-decoration: none;
    color: white;
}

/* hr style */
hr{
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 40px auto;
    width: 1320px;
    display: flex;
}

/* footer icons */

.icons{
    width: 1320px;
    display: flex;
    margin: auto;
    justify-content: center;
}

.icons>a{
    padding: 0 20px;
}

/* copyights */
.copyright{
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.copyright{
    font-size: 24px;
    font-weight: 500;
}

.copyright a{
    text-decoration: none;
    color: white;
}